In [1]:
import pandas as pd

In [43]:
df=pd.read_csv('car data.csv')

In [44]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

Feature extraction

In [45]:
# We are going to predict the selling price
# Cars name is not required

In [46]:
df.shape

(301, 9)

In [47]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [48]:
print(df['Fuel_Type'].unique())
print(df['Seller_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Petrol' 'Diesel' 'CNG']
['Dealer' 'Individual']
['Manual' 'Automatic']
[0 1 3]

In [49]:
final_dataset=df.drop(['Car_Name'], axis=1)

In [50]:
final_dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [51]:
# label encoding
# Converting strings into numerical values

In [52]:
final_dataset=pd.get_dummies(final_dataset, drop_first=True)

In [53]:
final_dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,1,0,1
1,2013,4.75,9.54,43000,0,1,0,0,1
2,2017,7.25,9.85,6900,0,0,1,0,1
3,2011,2.85,4.15,5200,0,0,1,0,1
4,2014,4.60,6.87,42450,0,1,0,0,1

In [54]:
# Feature and target selection

In [55]:
X=final_dataset.drop(['Selling_Price'], axis=1) #features
y=final_dataset['Selling_Price'] # Target

In [56]:
X.head()

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,2014,5.59,27000,0,0,1,0,1
1,2013,9.54,43000,0,1,0,0,1
2,2017,9.85,6900,0,0,1,0,1
3,2011,4.15,5200,0,0,1,0,1
4,2014,6.87,42450,0,1,0,0,1

In [57]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [58]:
X.shape

(301, 8)

In [59]:
# Splitting the data
from sklearn.model_selection import train_test_split

In [78]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3)

In [79]:
X_train.shape

(210, 8)

In [80]:
y_train.shape

(210,)

In [94]:
y_test.shape

(91,)

Model Training

In [85]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()

In [86]:
model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

Model Evaluationn and testing

In [87]:
prediction=model.predict(X_test)

In [88]:
prediction

array([ 5.2 , 23.  ,  3.8 ,  0.35,  0.75,  0.95,  7.5 ,  4.75,  0.6 ,
        3.65,  3.  , 10.25,  7.75,  4.  ,  0.4 ,  2.95,  7.4 ,  3.1 ,
        1.35,  0.6 ,  0.35,  0.6 ,  3.65, 10.9 ,  1.35,  8.35,  2.25,
        0.75,  0.4 ,  0.6 ,  2.9 ,  9.1 ,  0.2 ,  5.25,  1.1 ,  0.1 ,
        9.1 ,  0.78,  3.35, 11.25,  0.78,  3.  ,  2.9 ,  4.5 ,  5.5 ,
        8.4 ,  0.2 ,  9.1 ,  5.  ,  8.55,  2.85,  0.4 ,  0.45,  3.65,
        1.65,  1.11,  2.95,  0.42,  5.  ,  8.99, 10.9 ,  0.75,  5.25,
        0.8 ,  0.75,  2.95,  3.9 ,  4.  ,  3.1 ,  2.25,  6.85,  4.5 ,
        0.4 ,  5.5 ,  5.5 ,  3.75,  4.5 , 23.  ,  0.6 ,  0.45,  2.1 ,
        0.9 ,  0.78,  2.95, 17.  ,  4.5 ,  1.25,  0.2 ,  5.5 ,  0.5 ,
        1.11])

In [101]:
model.score(X_test, y_test)

0.9552697557168556

Saving the mode

In [102]:
import pickle
# open a file, where you ant to store the data
file = open('DT_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(model, file)